@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.ViewEngines

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject ICompositeViewEngine Engine

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <div class="log-if">
            <div class="item-size">
                @if (Engine.FindView(ViewContext, "_MenuManagePartial", false).Success)
                {
                    @await Html.PartialAsync("_MenuManagePartial")
                }
            </div>
            <div class="item-size pt-1">
                @if (Engine.FindView(ViewContext, "_ShoppingCartPartial", false).Success)
                {
                    @await Html.PartialAsync("_ShoppingCartPartial")
                }
            </div>
            <a href="/member/index" class="user-css">
                <i class="fa-solid fa-user"></i>
                <p class="item-size username">@(await UserManager.GetUserAsync(User))</p>
            </a>
            <input type="submit" class="btn btn-outline-primary item-size logout" value="Sign Out" />
        </div>
    </form>
}
else
{
    <div class="log-if">
        <a class="btn btn-outline-primary item-size" asp-area="Identity" asp-controller="Account" asp-action="Login">Sign In</a>
        <a class="btn btn-outline-primary item-size" asp-area="Identity" asp-controller="Account" asp-action="Register">Sign Up</a>
    </div>
}
