@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization

@inject SignInManager<AppUser> _signInManager
@inject UserManager<AppUser> _userManager
@inject IAuthorizationService _authorizationService


@if (_signInManager.IsSignedIn(User) && (await _authorizationService.AuthorizeAsync(User, "HighLevelManage")).Succeeded)
{
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Manage
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/Database">Database</a></li>
            <li><a class="dropdown-item" href="/Contact">Contact</a></li>
            <li><a class="dropdown-item" href="/Role/Index">Role</a></li>
            <li><a class="dropdown-item" href="/ManageUser/Index">UserManage</a></li>
            <li><a class="dropdown-item" href="/Categories">Categories</a></li>
            <li><a class="dropdown-item" href="/posts">Posts</a></li>
            <li><a class="dropdown-item" href="/file-manager">File Manager</a></li>
        </ul>
    </div>
}


