html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.app-navbar{
    background: black;
    opacity: 0.8;
}

.app-navbar .text-color{
    color: wheat !important;
}

.navbar-brand {
    color: #be6fdc !important;
}

.Customer-Manage{
    width: auto ;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

@media (max-width: 576px) {
    .Customer-Manage {
        justify-content: start;
        margin-left: 5px;
    }
}