@using AppMVC.Models.Blog
@using AppMVC.Models.Product
@using AppMVC.Views.Shared.Component.CategorySideBar
@using static AppMVC.Views.Shared.Component.CategorySideBar.CategoryProductSideBar

@model CategoryProductSideBarData

@{
    var level = 0;
}
@if (Model.Categories.Count > 0)
{
    <ul>
        @foreach(var category in Model.Categories)
        {
            var activeCss = (Model.slug == category.Slug) ? "active" : null;
            var noParent = (category.ParentCategory == null) ? "noParent" : null;
            <li>
                <a class="@activeCss @noParent" asp-area="ProductManage" asp-controller="ViewProduct" asp-action="Index" asp-route-categoryslug="@category.Slug" >@category.Title</a>
                @if (category.CategoryChildren?.Count > 0)
                {
                    @await Component.InvokeAsync("AppMVC.Views.Shared.Component.CategorySideBar.CategoryProductSideBar",
                             new CategoryProductSideBarData()
                            {
                                level = level+1,
                                Categories = category.CategoryChildren.ToList(),
                                slug = ViewBag.slug
                            })
                }
            </li>
        }
    </ul>
}