@using AppMVC.Areas.ProductManage.Models
@model Product

@{
    var date = ViewBag.Date;
}


<div class="card bg-warning" style="width: 18rem;">
  <div class="card-header">
    @Model.ProductName
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Prices: @Model.Price</li>
    <li class="list-group-item">Date: @date</li>

  </ul>
</div>
